{% extends 'base.html.twig' %}

{% block title %}VTC{% endblock %}

{% block body %}

<h1> Information sur VTC</h1>

<div class="m-auto form-control w-75">
<p> Nom : {{vtc.nom}}</p>
<p> Prenom : {{vtc.prenom}}</p>
<p> Age : {{vtc.age}} </p>
</div>
{% endblock %}
